<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>minPlayerCount</key>
	<integer>5</integer>
	<key>maxPlayerCount</key>
	<integer>10</integer>
	<key>playerCount</key>
	<dict>
		<key>5</key>
		<dict>
			<key>goodCount</key>
			<integer>3</integer>
			<key>evilCount</key>
			<integer>2</integer>
			<key>quest</key>
			<dict>
				<key>first</key>
				<dict>
					<key>teamCount</key>
					<integer>2</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>second</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>third</key>
				<dict>
					<key>teamCount</key>
					<integer>2</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>fourth</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>fifth</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>6</key>
		<dict>
			<key>goodCount</key>
			<integer>4</integer>
			<key>evilCount</key>
			<integer>2</integer>
			<key>quest</key>
			<dict>
				<key>first</key>
				<dict>
					<key>teamCount</key>
					<integer>2</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>second</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>third</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>fourth</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>fifth</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>goodCount</key>
			<integer>4</integer>
			<key>evilCount</key>
			<integer>3</integer>
			<key>quest</key>
			<dict>
				<key>first</key>
				<dict>
					<key>teamCount</key>
					<integer>2</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>second</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>third</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>fourth</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>2</integer>
				</dict>
				<key>fifth</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>goodCount</key>
			<integer>5</integer>
			<key>evilCount</key>
			<integer>3</integer>
			<key>quest</key>
			<dict>
				<key>first</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>second</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>third</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>fourth</key>
				<dict>
					<key>teamCount</key>
					<integer>5</integer>
					<key>failCount</key>
					<integer>2</integer>
				</dict>
				<key>fifth</key>
				<dict>
					<key>teamCount</key>
					<integer>5</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>goodCount</key>
			<integer>5</integer>
			<key>evilCount</key>
			<integer>4</integer>
			<key>quest</key>
			<dict>
				<key>first</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>second</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>third</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>fourth</key>
				<dict>
					<key>teamCount</key>
					<integer>5</integer>
					<key>failCount</key>
					<integer>2</integer>
				</dict>
				<key>fifth</key>
				<dict>
					<key>teamCount</key>
					<integer>5</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>10</key>
		<dict>
			<key>goodCount</key>
			<integer>6</integer>
			<key>evilCount</key>
			<integer>4</integer>
			<key>quest</key>
			<dict>
				<key>first</key>
				<dict>
					<key>teamCount</key>
					<integer>3</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>second</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>third</key>
				<dict>
					<key>teamCount</key>
					<integer>4</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
				<key>fourth</key>
				<dict>
					<key>teamCount</key>
					<integer>5</integer>
					<key>failCount</key>
					<integer>2</integer>
				</dict>
				<key>fifth</key>
				<dict>
					<key>teamCount</key>
					<integer>5</integer>
					<key>failCount</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>characters</key>
	<dict>
		<key>merlin</key>
		<dict>
			<key>name</key>
			<string>Merlin</string>
			<key>count</key>
			<integer>1</integer>
			<key>type</key>
			<string>good</string>
			<key>required</key>
			<true/>
			<key>power</key>
			<string>Sees all except Mordred</string>
		</dict>
		<key>good_1</key>
		<dict>
			<key>name</key>
			<string>Loyal Servant of Arthur</string>
			<key>count</key>
			<integer>5</integer>
			<key>type</key>
			<string>good</string>
			<key>required</key>
			<false/>
		</dict>
		<key>good_2</key>
		<dict>
			<key>name</key>
			<string>Loyal Servant of Arthur</string>
			<key>count</key>
			<integer>5</integer>
			<key>type</key>
			<string>good</string>
			<key>required</key>
			<false/>
		</dict>
		<key>good_3</key>
		<dict>
			<key>name</key>
			<string>Loyal Servant of Arthur</string>
			<key>count</key>
			<integer>5</integer>
			<key>type</key>
			<string>good</string>
			<key>required</key>
			<false/>
		</dict>
		<key>good_4</key>
		<dict>
			<key>name</key>
			<string>Loyal Servant of Arthur</string>
			<key>count</key>
			<integer>5</integer>
			<key>type</key>
			<string>good</string>
			<key>required</key>
			<false/>
		</dict>
		<key>good_5</key>
		<dict>
			<key>name</key>
			<string>Loyal Servant of Arthur</string>
			<key>count</key>
			<integer>5</integer>
			<key>type</key>
			<string>good</string>
			<key>required</key>
			<false/>
		</dict>
		<key>percival</key>
		<dict>
			<key>name</key>
			<string>Percival</string>
			<key>count</key>
			<integer>1</integer>
			<key>type</key>
			<string>good</string>
			<key>required</key>
			<false/>
			<key>power</key>
			<string>Knowlegde of Merlin and/or Morgana</string>
		</dict>
		<key>assassin</key>
		<dict>
			<key>name</key>
			<string>Assassin</string>
			<key>count</key>
			<integer>1</integer>
			<key>type</key>
			<string>evil</string>
			<key>required</key>
			<true/>
			<key>power</key>
			<string>Can kill Merlin</string>
		</dict>
		<key>evil_1</key>
		<dict>
			<key>name</key>
			<string>Minion of Mordred</string>
			<key>count</key>
			<integer>3</integer>
			<key>type</key>
			<string>evil</string>
			<key>required</key>
			<false/>
		</dict>
		<key>evil_2</key>
		<dict>
			<key>name</key>
			<string>Minion of Mordred</string>
			<key>count</key>
			<integer>3</integer>
			<key>type</key>
			<string>evil</string>
			<key>required</key>
			<false/>
		</dict>
		<key>evil_3</key>
		<dict>
			<key>name</key>
			<string>Minion of Mordred</string>
			<key>count</key>
			<integer>3</integer>
			<key>type</key>
			<string>evil</string>
			<key>required</key>
			<false/>
		</dict>
		<key>morgana</key>
		<dict>
			<key>name</key>
			<string>Morgana</string>
			<key>count</key>
			<integer>1</integer>
			<key>type</key>
			<string>evil</string>
			<key>required</key>
			<false/>
			<key>power</key>
			<string>Pretends to be Merlin</string>
		</dict>
		<key>mordred</key>
		<dict>
			<key>name</key>
			<string>Mordred</string>
			<key>count</key>
			<integer>1</integer>
			<key>type</key>
			<string>evil</string>
			<key>required</key>
			<false/>
			<key>power</key>
			<string>Invisible to Merlin&apos;s eye</string>
		</dict>
		<key>oberon</key>
		<dict>
			<key>name</key>
			<string>Oberon</string>
			<key>count</key>
			<integer>1</integer>
			<key>type</key>
			<string>evil</string>
			<key>required</key>
			<false/>
			<key>power</key>
			<string>Outcast evil. lol.</string>
		</dict>
	</dict>
</dict>
</plist>
